<pre>


<%= IO.binread('./public/ai.txt') %>

</pre>
<br>
<dl>
  <dt>
    refs
  </dt>
  <dd>
    <ul>
      <li>
        <a href="/ai.txt">my ai.txt</a>
      </li>
      <li>
        <a href="https://news.ycombinator.com/item?id=35886288" target="_blank">o.g. ai.txt</a>
      </li>
    </ul>
  </dd>
</dl>
