<i>
a long time ago, in a galaxy far, far away...
</i>
<br>
<br>

i founded, and ran a software agency called <a href='https://dojo4.com' target='_blank'>dojo4</a>, with <a href="https://www.instagram.com/coreykohn/" target="_blank">corey</a> and a bunch of really good friends.
<br>
<br>

we did a bunch of things i am really proud of.  including trying to change the
world, and writing a lot of irreverent articles about all manner of things.
<br>
<br>

in no particular order are:
<br>
<br>

some i wrote...
<br>
<br>
<% data.ara.each do |post| %>
<a href="/dojo4/archive/<%= post.id %>">/dojo4/<%= post.id %></a>
<br>
<% end %>
<br>
<br>

and some my dear friends wrote...
<br>
<br>
<% data.dojo4.each do |post| %>
<a href="/dojo4/archive/<%= post.id %>">/dojo4/<%= post.id %></a>
<br>
<% end %>
