<hr>
<ul>
  <li>
    <a href="/about">about<a>
  </li>
  <li>
    <a href="/music">music<a>
  </li>
  <li>
    <a href="/projects">projects<a>
  </li>
  <li>
    <a href="/i-hate-this">i-hate-this<a>
  </li>
  <li>
    <a href="/i-love-this">i-love-this<a>
  </li>
</ul>
