<hr>
<a href="/goto" name="goto">&mdash;&gt; goto</a>
<blockquote>
<%
  quotes = YAML.load(IO.binread('./config/quotes.yml'))
  author = quotes.keys.sample
  quote = quotes[author].sample
%>
<%= quote %> <br> <br> &nbsp;&mdash; <%= author %>
</blockquote>
<a href="/">&lt;&mdash; eject</a>
