<hr>
<a href="/goto" name="goto">&mdash;&gt; goto</a>
<blockquote>
<%
  quotes = site.dato.fetch(:quotes)
  author = quotes.keys.sample
  url = quotes[author].fetch(:url)
  quote = quotes[author].fetch(:quotes).sample
%>
<%= quote %> <br> <br> &nbsp;&mdash; <a href="<%= url %>" target="_blank"><%= author %></a>
</blockquote>
<a href="/">&lt;&mdash; eject</a>
