<hr>
<a href="/goto" name="goto">&mdash;&gt; goto</a>
<blockquote>
<ul>
  <li>
    <a href="/now">/now<a>
  </li>
  <li>
    <a href="/about">/narcissism<a>
  </li>
  <li>
    <a href="mailto:i-hate-this@drawohara.io?subject=<%= path_info %>">/i-hate-this<a>
  </li>
  <li>
    <a href="mailto:i-love-this@drawohara.io?subject=<%= path_info %>">/i-love-this<a>
  </li>
  <li>
    <a href="/contact">/contact<a>
  </li>
</ul>
</blockquote>
<a href="/">&lt;&mdash; eject</a>
