<%= data.nerd.body %>

<br>
<hr>

<em>
  this all new `nerd blog` is definitely a work in progress, but you might
enjoy the <a href="/dojo4">dojo4</a> archive, which contains some of my
previously nerdly writing.  and, for a peek and what i am working on now see
<a href="/disco">disco</a>...
<br>
<br>
i'll be adding to the below list of articles and plan to be doing quite a bit
of writing about ai, ruby, embedding models, groq and vespa to name a few...
one thing i do enjoy about the ai revolution... so much to do!
</em>


<br>
<br>

<ol>
  <% data.index.each do |nerd|
      next if nerd.id == 'index'
  %>
    <li>
      <a href='<%= nerd.url %>'><%= nerd.url %></a>
    </li>
  <% end %>
</ol>
