<br>
<form id="emailForm">
  <fieldset>
    <label>
      hiya! if you wanna to stay in touch gimme:
      <br>
      <br>
      <input type="email" id="emailValue" placeholder="yer@email.com" autocomplete="email">
      <br>
      i promise no spam and updates &lt;= <em>1x / week</em>
    </label>
  </fieldset>

  <input type="submit" value="subscribe" id="emailSubmit">
</form>
