<p>
  <em>
    non sequitor at best, annoying at worst...  these are some words that i wrote
  </em>
</p>

<dl>
  <dt>
    <a href="/io">/io</a>
    <hr>
  </dt>
  <dd>
    <ul>
      <% data.posts.each do |post| %>
        <li>
          <a href="/io/<%= post.id %>">/io/<%= post.id %></a>
        </li>
      <% end %>
    </ul>
  </dd>

  <dt>
    <a href="/purls">/purls</a>
    <hr>
  </dt>
  <dd>
    &rarr; <a href="/purls">permalinks</a>
  </dd>

  <dt>
    <a href="/dojo4">/dojo4</a>
    <hr>
  </dt>
  <dd>
    &rarr; <a href="/dojo4">enter the dojo4 archives</a> 🥷
  </dd>
</dl>
