<p>
  <em>
    non sequitor at best, annoying at worst...  these are some words that i wrote
  </em>
</p>

<dl>
  <dt>
    <a href="/io">/io</a>
    <hr>
  </dt>
  <dd>
    <ul>
      <% data.posts.each do |post| %>
        <li>
          <a href="/io/<%= post.id %>">/io/<%= post.id %></a>
          <% if post.published_at %>
            <% date = begin; Date.parse(post.published_at.to_s).strftime('%B %d, %Y'); rescue; post.published_at; end %>
            <span style="opacity:0.5;font-size:0.85em"> &mdash; <%= date %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </dd>

  <dt>
    <hr>
  </dt>
  <dd>
    &rarr; <a href="/purls">permalinks</a> ♾️
  </dd>

  <dt>
    <hr>
  </dt>
  <dd>
    &rarr; <a href="/dojo4">enter the dojo4 archives</a> 🥷
  </dd>
</dl>
